@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fly-with-us {
  font-size: 160px;
  margin-top: 30vh;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}

.fly-with-us:hover {
  -webkit-text-stroke: 2px red;
  color: transparent;
}

.FlightDetails{
  border-radius: 40px;
  margin: 20px auto;
  width: 800px;
  height: 200px;
  background-color: whitesmoke;

}